/* 
element {
    property: value;
}
 */

body {
    background-color: powderblue;
}

#box {
    border: 1px solid black;
    padding: 0px;
    margin: 40px;
    width: min-content;
    text-wrap: nowrap;
}
